/* #cardImage {
    height: 100%;
    max-width: 30%;
    position:relative;
    background-size: cover;
    background-position: center;
} */

.symbol {
    max-height: 4vh;
    max-width: 9%;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 3px 10px black;
}

.card>.list-group {
    border-top: none;
    border-bottom: none;
}

.card-img-top {
    box-shadow: 0 3px 10px black;
}